<launch>
	<arg name="marker_size" default="6" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/tello/image_raw" />
	<arg name="cam_info_topic" default="/tello/camera/camera_info" />
	<arg name="output_frame" default="/tello_camera_link" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

    <node pkg="tf" type="static_transform_publisher" name="camera_link" args="0 0 0 -1.57 0 -1.57 tello_base_link tello_camera_link 50"/>
	<node pkg="tf" type="static_transform_publisher" name="camera_link_front" args="0 0 0 0 0 0 tello_camera_link tello/camera_front 50"/>
</launch>