<launch>
    <include file="$(find tag_follower)/launch/ar_track_alvar.launch" />
    <include file="$(find tag_follower)/launch/joy_teleop.launch"/>
    <include file="$(find tag_follower)/launch/rc_pid_marker.launch"/>
    <node name="distance_ar_tag" pkg="it2_pkg" type="distance_ar_tag.py" output="screen"/>
    <node name="commander" pkg="it2_pkg" type="commander.py" output="screen"/>
</launch>